.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #162729;
}

body{
    background: linear-gradient(246.11deg, #0B1D21 29.1%, #0F1E21 93.48%);
}
nav p {
    padding: 8px;
    font-family: 'DM Mono', monospace;
    font-weight: 200;
    font-size: 18px;
    line-height: 31px;
    color: #E6E8E8;
}

.emphasis {
    font-weight: 500;
    font-size: 24px;
}

.heroImg{
    padding: 25px;
    height: 400px;
}

.content{
    margin: 0 auto;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 148%;
    letter-spacing: 0.03em;
    color: #E6E8E8;
    padding: 16px;
}

.image{
    float: left;
    padding: 16px;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color:  #E6E8E8;
    font-family: 'DM Mono', monospace;
    font-weight: 200;
    font-size: 18px;
    line-height: 31px;
}

button{
    background: #ECB6FF;
    font-family: 'DM Mono', monospace;
    border-radius: 8px;
    height: 44px;
    width: 120px;
    font-weight: 500;
    font-size: 12px;
    color: #162729;
    padding: 6px;
}